<%- include("header",{type:''}) %>
<div class="container">
    <ul class="posts">
        <li class="lists">
            <h4 class="title mg10">标题：<%= title %></h4>
            <p class="time mg10">时间：</p>
            <p class="category mg10">类别：<%= category %></p>
            <div class="content mg10">内容：<%- content %></div>
        </li>
    </ul>

    <form class="form" method="post" action="">
        <input placeholder="请输入昵称" type="text" name="name">
        <input placeholder="请输入评论" name="content" cols="82">
        <label>上传头像：</label>
        <input type="file" name="avator" onchange="submitimg(event,this)">
        <input type="hidden" class="avatorVal">
        <img class="preview" alt="预览头像">
        <div class="submit" onclick="submitmsg('','',event)">发表留言</div>
    </form>
    <div>
        <ul>
            <% for (var i=0;i<comments.length;i++){%>
            <li style="border: 1px solid rosybrown;padding: 10px;">
                <img src="../images/<%= comments[i].avator %>" alt="avator">
                <span><%- comments[i].name %></span>
                <span><%- comments[i].moment %></span>
                <p><%- comments[i].content %></p>
                <a class="delete_comment" href="javascript:delete_comments(<%= comments[i].id %>);"> 删除</a>
                <div class="show">回复</div>
                <form class="form form3" method="post" action="">
                    <input placeholder="请输入昵称" type="text" name="name">
                    <input placeholder="请输入评论" name="content" cols="82">

                    <label>上传头像：</label>
                    <input class="import-img" type="file" name="avator" onchange="submitimg(event,this)">
                    <input type="hidden" class="avatorVal">
                    <img class="preview" alt="预览头像">

                    <div class="submit" onclick="submitmsg(<%=comments[i].id%>,'<%=comments[i].name%>',event)">发表留言</div>
                </form>
                <ul style="margin: 10px;border: 1px solid #8a7579;">
                    <% for (var j=0;j<commentreply.length;j++){%>
                    <%if(comments[i].id == commentreply[j].commentid){%>
                        <li>
                            <img src="../images/<%= commentreply[j].avator %>" alt="avator">
                            <span><%- commentreply[j].name %></span>
                            <span><%- commentreply[j].moment %></span>
                            <p><%- commentreply[j].content %></p>
                            <a class="delete_comment" href="javascript:delete_commentreply(<%= commentreply[j].id %>);"> 删除</a>
                            <div class="show">回复</div>
                            <form class="form form3" method="post" action="/message">
                                <input placeholder="请输入昵称" type="text" name="name">
                                <input placeholder="请输入评论" name="content" cols="82">

                                <label>上传头像：</label>
                                <input class="import-img" type="file" name="avator" class="avator" onchange="submitimg(event,this)">
                                <input type="hidden" class="avatorVal">
                                <img class="preview" alt="预览头像">

                                <div class="submit5" onclick="submitmsg(<%=comments[i].id%>,'<%=commentreply[j].name%>',event)">提交</div>
                            </form>
                        </li>
                    <%}%>
                    <%}%>
                </ul>
            </li>
            <% } %>
        </ul>
    </div>

</div>
<script type="text/javascript">
    function submitimg(event,obj) {
        if (obj.files.length != 0) {
            var file = obj.files[0],
                reader = new FileReader();
            if (!reader) {
                obj.value = '';
                return;
            };
            console.log(file.size,file.type)
            if (!/image/g.test(file.type)) {
                alert("请上传图片文件!")
                $(obj).siblings('.avatorVal').val('')
                $(obj).siblings('form .preview').attr('src', '')
                $(obj).siblings('form .preview').fadeOut()
                return;
            }
            reader.onload = function (e) {
                obj.value = '';
                $(obj).siblings('form .preview').attr('src', e.target.result)
                $(obj).siblings('form .preview').fadeIn()
                var image = new Image();
                image.onload = function(){
                    var canvas = document.createElement('canvas');
                    var ctx = canvas.getContext("2d");
                    canvas.width = 100;
                    canvas.height = 100;
                    ctx.clearRect(0, 0, 100, 100);
                    ctx.drawImage(image, 0, 0, 100, 100);
                    var blob = canvas.toDataURL("image/png");
                    $(obj).siblings('.avatorVal').val(blob)
                }
                image.src = e.target.result
            };
            reader.readAsDataURL(file);
        }
    }
    function submitmsg(ci,rn,event) {
        if ($(event.currentTarget).siblings('input[name=name]').val().trim() == '') {
            alert('请输入用户名！')
        }else if($(event.currentTarget).siblings('input[name=name]').val().match(/[<'">]/g)){
            alert('请输入合法字符！')
        }else if($(event.currentTarget).siblings('.avatorVal').val() == ''){
            alert('请上传头像！')
        }else{
            $.ajax({
                url: '/article_detail/' + location.pathname.split('/')[2],
                data: {
                    name: $(event.currentTarget).siblings('input[name=name]').val(),
                    content: $(event.currentTarget).siblings('input[name=content]').val(),
                    avator: $(event.currentTarget).siblings('.avatorVal').val(),
                    rpname: rn,
                    commentid: ci
                },
                type: "POST",
                cache: false,
                dataType: 'json',
                success: function (msg) {
                    if(msg.code == 200){
                        setTimeout(function(){
                            window.location.reload()
                        },1000)
                    }else{
                        console.log(msg.message)
                    }
                },
                error: function () {
                    alert('异常');
                }
            })
        }

    }
    // 删除评论
    function delete_comments(ids) {
        $.ajax({
            url: '/article_detail/' + location.pathname.split('/')[2]+"/comment_delete/" + ids,
            type: 'POST',
            cache: false,
            success: function (msg) {
                if (msg.code == 200) {
                    console.log('删除留言成功');
                    setTimeout(function() {
                        location.reload()
                    }, 1000)
                } else {
                    console.log('删除留言失败');
                }
            },
            error: function () {
                alert('异常')
            }
        })
    }
    function delete_commentreply(id) {
        $.ajax({
            url: '/article_detail/' + location.pathname.split('/')[2]+'/commentreply_delete/' + id,
            type: 'POST',
            cache: false,
            success: function (msg) {
                if (msg.code == 200) {
                    console.log('删除留言成功');
                    setTimeout(function() {
                        location.reload()
                    }, 1000)
                } else {
                    console.log('删除留言失败');
                }
            },
            error: function () {
                alert('异常')
            }
        })
    }
    $('.show').click(function(event){
        $(this).next('form').css('display','block');
    })

</script>

</body>
</html>
