<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <script type="text/javascript" src="/jquery.min.js"></script>
    <script type="text/javascript" src="/wangEditor.min.js"></script>
    <link href="/common.css" rel="stylesheet" type="text/css">
</head>
<body>
<header>
    <ul class="list">
        <li onclick="window.location.href = '/'">文章管理</li>
        <li>用户管理</li>
        <li>评论管理</li>
        <li>留言管理</li>
    </ul>
    <div class="user">
        <span>登录</span>
        <span>注册</span>
        <span>退出</span>
    </div>
</header>
<div class="container">
    <ul class="posts">
        <li class="lists">
            <h2 class="title" style="display: inline-block;margin: 10px auto;">标题：<%= title %></h2>
            <p class="time">时间：</p>
            <p class="category">类别：<%= category %></p>
            <div class="content" style="border: 1px solid red;">内容：<%- content %></div>
        </li>
    </ul>

    <form class="form" method="post" action="/articleDetails/<%= id %>">
        <input placeholder="请输入昵称" type="text" name="name">
        <input placeholder="请输入评论" id="spContent" name="content" cols="82">
        <div>
            <label>上传头像：</label>
            <input type="file" name="avator" id="avator">
            <input type="hidden" id="avatorVal">
            <img class="preview" alt="预览头像">
        </div>
        <div class="submit">发表留言</div>
    </form>
    <div>
        <ul>
            <% for (var i=0;i<coments.length;i++){%>
            <li>
                <img src="../images/<%= coments[i].avator %>" alt="avator">
                <span><%- coments[i].name %></span>
                <span><%- coments[i].moment %></span>
                <p><%- coments[i].pcontent %></p>
            </li>
            <% } %>
        </ul>
    </div>

</div>
<script type="text/javascript">

    $(window).keyup(function (e) {
        //console.log(e.keyCode)
        if (e.keyCode == 13) {
            $('.submit').click()
        }
    })
    $('#avator').change(function(){
        if (this.files.length != 0) {
            var file = this.files[0],
                reader = new FileReader();
            if (!reader) {
                this.value = '';
                return;
            };
            console.log(file.size,file.type)
            // if (file.size >= 1024 * 1024 / 2) {
            // 	fade("请上传小于512kb的图片!")
            // 	return
            // }
            if (!/image/g.test(file.type)) {
                fade("请上传图片文件!")
                $('#avatorVal').val('')
                $('form .preview').attr('src', '')
                $('form .preview').fadeOut()
                return
            }
            reader.onload = function (e) {
                this.value = '';
                $('form .preview').attr('src', e.target.result)
                $('form .preview').fadeIn()
                var image = new Image();
                image.onload = function(){
                    var canvas = document.createElement('canvas');
                    var ctx = canvas.getContext("2d");
                    canvas.width = 100;
                    canvas.height = 100;
                    ctx.clearRect(0, 0, 100, 100);
                    ctx.drawImage(image, 0, 0, 100, 100);
                    var blob = canvas.toDataURL("image/png");
                    $('#avatorVal').val(blob)
                }
                image.src = e.target.result
            };
            reader.readAsDataURL(file);
        };
    })
    $('.submit').click(function(){
        // console.log($('.form').serialize())
        if ($('input[name=name]').val().trim() == '') {
            fade('请输入用户名！')
        }else if($('input[name=name]').val().match(/[<'">]/g)){
            fade('请输入合法字符！')
        }else if($('#avatorVal').val() == ''){
            fade('请上传头像！')
        }else{
            $.ajax({
                url: '/articleDetails/' + location.pathname.split('/')[2],
                data: {
                    name: $('input[name=name]').val(),
                    content: $('input[name=content]').val(),
                    avator: $('#avatorVal').val(),
                },
                type: "POST",
                cache: false,
                dataType: 'json',
                success: function (msg) {
                    if(msg.code == 200){
                        console.log('评论成功')
                        setTimeout(function(){
                            window.location.reload()
                        },1000)

                    }else{
                        console.log(msg.message)
                    }
                },
                error: function () {
                    alert('异常');
                }
            })
        }
    })

</script>

</body>
</html>
