<%- include("header",{type:''}) %>
<div class="container">
    <ul class="posts">
        <% for (var i=0;i<articles.length;i++){%>
            <li class="lists">
                <h4 class="title mg10" onclick="window.location.href = '/article_detail/<%= articles[i].id %>'">标题：<%= articles[i].title %></h4>
                <button class="btn" onclick="window.location.href = '/article_add'">添加</button>
                <button id="del" onclick="window.location.href = '/article_revise/<%= articles[i].id %>'"> 修改</button>
                <button id="del" onclick="delete_article(<%= articles[i].id %>)"> 删除</button>
                <p class="time mg10">时间：<%= articles[i].moment %></p>
                <p class="category mg10">类别：<%= articles[i].category %></p>
                <div class="content mg10">内容：<%- articles[i].content %></div>
            </li>
        <% } %>
    </ul>
</div>
<script type="text/javascript">
    function delete_article(id) {
        $.ajax({
            url: "/art",
            type: 'POST',
            cache: false,
            data: {id:id},
            success: function (msg) {
                if (msg.code == 200) {
                    alert('删除文章成功')
                    setTimeout(function() {
                        location.reload()
                    }, 1000)
                } else {
                    alert('删除文章失败');
                }
            },
            error: function () {
                alert('异常')
            }
        })
    }
</script>

</body>
</html>
