<%- include("header",{type:''}) %>
<div class="container">
    <form class="form" method="post" action="/message">
        <input placeholder="请输入昵称" type="text" name="name">
        <input placeholder="请输入评论" id="spContent" name="content" cols="82">

            <label>上传头像：</label>
            <input type="file" name="avator" class="avator" onchange="submitimg(event,this)">
            <input type="hidden" class="avatorVal">
            <img class="preview" alt="预览头像">

        <div class="submit" onclick="submitmsg('','',event)">留言</div>
    </form>
    <div>
        <ul style="border: 1px solid rebeccapurple;">
            <% for (var i=0;i<messages.length;i++){%>
                <li>
                    <img src="../images/<%= messages[i].avator %>" alt="avator">
                    <span><%- messages[i].name %></span>
                    <span><%- messages[i].moment %></span>
                    <p><%- messages[i].content %></p>
                    <a class="delete_comment" href="javascript:delete_message(<%= messages[i].id %>);"> 删除</a>
                    <div class="show">评论</div>
                    <form class="form form2" method="post" action="/message">
                        <input placeholder="请输入昵称" type="text" name="name">
                        <input placeholder="请输入评论" name="content" cols="82">

                            <label>上传头像：</label>
                            <input type="file" name="avator" class="avator" onchange="submitimg(event,this)">
                            <input type="hidden" class="avatorVal">
                            <img class="preview" alt="预览头像">

                        <div class="submit3" onclick="submitmsg(<%=messages[i].id%>,'<%=messages[i].name%>',event)">提交</div>
                    </form>
                    <ul style="margin: 10px;border: 1px solid red;">
                        <% for (var j=0;j<messagereply.length;j++){%>
                        <%if(messages[i].id== messagereply[j].postid){%>
                            <li>
                                <img src="../images/<%= messagereply[j].avator %>" alt="avator">
                                <span><%- messagereply[j].name %></span>
                                <span><%- messagereply[j].moment %></span>
                                <p><%- messagereply[j].content %></p>
                                <a class="delete_comment" href="javascript:delete_messagereply(<%= messagereply[j].id %>);"> 删除</a>
                                <div class="show">回复</div>
                                <form class="form form3" method="post" action="/message">
                                    <input placeholder="请输入昵称" type="text" name="name">
                                    <input placeholder="请输入评论" name="content" cols="82">

                                        <label>上传头像：</label>
                                        <input type="file" name="avator" class="avator" onchange="submitimg(event,this)">
                                        <input type="hidden" class="avatorVal">
                                        <img class="preview" alt="预览头像">

                                    <div class="submit5" onclick="submitmsg(<%=messages[i].id%>,'<%=messagereply[j].name%>',event)">提交</div>
                                </form>
                            </li>
                        <%}%>
                        <%}%>
                    </ul>
                </li>
            <% } %>
        </ul>
    </div>
</div>
<script type="text/javascript">
    function submitimg(event,obj) {
        if (obj.files.length != 0) {
            var file = obj.files[0],
                reader = new FileReader();
            if (!reader) {
                obj.value = '';
                return;
            };
            console.log(file.size,file.type)
            if (!/image/g.test(file.type)) {
                alert("请上传图片文件!")
                $(obj).siblings('.avatorVal').val('')
                $(obj).siblings('form .preview').attr('src', '')
                $(obj).siblings('form .preview').fadeOut()
                return
            }
            reader.onload = function (e) {
                obj.value = '';
                $(obj).siblings('form .preview').attr('src', e.target.result)
                $(obj).siblings('form .preview').fadeIn()
                var image = new Image();
                image.onload = function(){
                    var canvas = document.createElement('canvas');
                    var ctx = canvas.getContext("2d");
                    canvas.width = 100;
                    canvas.height = 100;
                    ctx.clearRect(0, 0, 100, 100);
                    ctx.drawImage(image, 0, 0, 100, 100);
                    var blob = canvas.toDataURL("image/png");
                    $(obj).siblings('.avatorVal').val(blob)
                }
                image.src = e.target.result
            };
            reader.readAsDataURL(file);
        }
    }
    function submitmsg(pi,rn,event) {
        if ($(event.currentTarget).siblings('input[name=name]').val().trim() == '') {
            alert('请输入用户名！')
        }else if($(event.currentTarget).siblings('input[name=name]').val().match(/[<'">]/g)){
            alert('请输入合法字符！')
        }else if($(event.currentTarget).siblings('.avatorVal').val() == ''){
            alert('请上传头像！')
        }else{
            $.ajax({
                url: '/message',
                data: {
                    name: $(event.currentTarget).siblings('input[name=name]').val(),
                    content: $(event.currentTarget).siblings('input[name=content]').val(),
                    avator: $(event.currentTarget).siblings('.avatorVal').val(),
                    rpname: rn,
                    postid: pi
                },
                type: "POST",
                cache: false,
                dataType: 'json',
                success: function (msg) {
                    if(msg.code == 200){
                        setTimeout(function(){
                            window.location.reload()
                        },1000)
                    }else{
                        console.log(msg.message)
                    }
                },
                error: function () {
                    alert('异常');
                }
            })
        }

    }
    // 删除评论
    function delete_message(ids) {
        $.ajax({
            url: '/message/' + ids,
            type: 'POST',
            cache: false,
            success: function (msg) {
                if (msg.code == 200) {
                    console.log('删除留言成功');
                    setTimeout(function() {
                        location.reload()
                    }, 1000)
                } else {
                    console.log('删除留言失败');
                }
            },
            error: function () {
                alert('异常')
            }
        })
    }
    function delete_messagereply(ids) {
        $.ajax({
            url: '/messagereply/' + ids,
            type: 'POST',
            cache: false,
            success: function (msg) {
                if (msg.code == 200) {
                    console.log('删除留言成功');
                    setTimeout(function() {
                        location.reload()
                    }, 1000)
                } else {
                    console.log('删除留言失败');
                }
            },
            error: function () {
                alert('异常')
            }
        })
    }
    $('.show').click(function(event){
        $(this).next('form').css('display','block');
    })
</script>

</body>
</html>
